---
import Layout from "../layouts/Layout.astro";
import HeaderSmall from "../components/HeaderSmall.astro";
const title = "I nostri sponsor";
const subtitle = "Partner e Aziende che supportano Basket San Vincenzo";

---


<Layout title="SVB Sponsor">
    
    <main>
      <HeaderSmall title={title} subtitle={subtitle} />

      <section class="mx-auto max-w-7xl px-5 py-12 md:px-10 flex flex-col items-center justify-center">
      <h5 class="mb-6 text-center text-2xl font-bold md:mb-12 text-red-700 dark:text-white">Title Sponsor</h5>
      <img src="/img/sponsor/Garden_green.svg" alt="" class="inline-block dark:hidden w-3/5" />
      <img src="/img/sponsor/Garden_white.svg" alt="" class="hidden dark:inline-block w-3/5" />
      <img src="/img/sponsor/logo-verde.png" alt="" class="inline-block dark:hidden w-1/4 mt-10"/>
      <img src="/img/logo-bianco.png" alt="" class="hidden dark:inline-block w-1/4 mt-10" />
      </section>


      
<section class="mx-auto max-w-7xl px-5 py-12 md:px-10">
   <!--Title -->
   <h5 class="mb-6 text-center text-2xl font-bold md:mb-12 text-red-700 dark:text-white">Main Sponsor</h5>
    <!-- Component -->
    <div class="grid w-full grid-cols-1 items-center gap-4 rounded-3xl bg-black p-[60px] sm:grid-cols-3 sm:gap-12 md:grid-cols-5 md:gap-6">
      
      <div class="flex justify-center">
        <img src="/img/sponsor/brandoni_white.svg" alt="" class="inline-block" />
      </div>
      <div class="flex justify-center">
        <img src="/img/sponsor/Salsicamb white.svg" alt="" class="inline-block" />
      </div>
      <div class="flex justify-center">
        <img src="/img/sponsor/mixos_white.svg" alt="" class="inline-block" />
      </div>
      <div class="flex justify-center">
        <img src="/img/sponsor/rolando_white.svg" alt="" class="inline-block" />
      </div>
      <div class="flex justify-center">
        <img src="/img/sponsor/magiaslab_white.svg" alt="" class="inline-block" />
      </div>
      
    </div>
 
    <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
      <!--Title -->
      <h5 class="mb-6 text-center text-2xl font-bold md:mb-12 text-red-700 dark:text-white">Gold Sponsor</h5>
      <!--Content -->
      <div class="grid grid-cols-2 items-center justify-center gap-8 rounded-md bg-[#f2f2f7] p-16 px-8 py-12 sm:grid-cols-3 md:gap-16">
        <div class="flex items-center justify-center">
          <img src="/img/sponsor/magic_red.svg" alt="" class=" max-w-full items-center justify-center sm:max-w-[80%]" />
        </div>
        <div class="flex items-center justify-center">
          <img src="/img/sponsor/solvay_color.svg" alt="" class="max-w-full sm:max-w-[80%]" />
        </div>
        <div class="flex items-center justify-center">
          <img src="/img/sponsor/Algida_red.svg" alt="" class="max-w-60 sm:max-w-[80%]" />
        </div>
        
        <div class="flex items-center justify-center">
          <img src="/img/sponsor/bibbonesi.webp" alt="" class="max-w-full sm:max-w-[80%]" />
        </div>
        <div class="flex items-center justify-center">
          <img src="/img/sponsor/intersportlucarelli.svg" alt="" class="max-w-full sm:max-w-[80%]" />
        </div>
        <div class="flex items-center justify-center">
          <img src="/img/sponsor/logo_asa_colore.svg" alt="" class="max-w-full sm:max-w-[80%]" />
        </div>
      </div>
    </div>

    <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
      <h5 class="mb-6 text-center text-2xl font-bold md:mb-12 text-red-700 dark:text-white">Official Sponsor</h5>      <div class="grid grid-cols-1 gap-8 rounded-3xl bg-black p-16 sm:grid-cols-2 md:grid-cols-3 md:gap-16">
        <!-- Item -->
        <div class="flex items-center justify-center">
          <img src="" alt="" class="mx-auto inline-block max-w-[80%] max-[767px]:max-w-full" />
        </div>
        <!-- Item -->
        <div class="flex items-center justify-center">
          <img src="https://assets.website-files.com/63904f663019b0d8edf8d57c/63982e474df072a344c2a079_PayPal%20Logo.svg" alt="" class="mx-auto inline-block max-w-[80%] max-[767px]:max-w-full" />
        </div>
        <!-- Item -->
        <div class="flex items-center justify-center">
          <img src="https://assets.website-files.com/63904f663019b0d8edf8d57c/63982e4a718e95b3c10bc466_Google%20Logo.svg" alt="" class="mx-auto inline-block max-w-[80%] max-[767px]:max-w-full" />
        </div>
        <!-- Item -->
        <div class="flex items-center justify-center">
          <img src="https://assets.website-files.com/63904f663019b0d8edf8d57c/63982e44075471d57debfe23_Chase%20Logo.svg" alt="" class="mx-auto inline-block max-w-[80%] max-[767px]:max-w-full" />
        </div>
        <!-- Item -->
        <div class="flex items-center justify-center">
          <img src="https://assets.website-files.com/63904f663019b0d8edf8d57c/63982e46c9353e092ba4b774_Walmart%20Logo.svg" alt="" class="mx-auto inline-block max-w-[80%] max-[767px]:max-w-full" />
        </div>
        <!-- Item -->
        <div class="flex items-center justify-center">
          <img src="https://assets.website-files.com/63904f663019b0d8edf8d57c/63982efc554105ffbeb5b691_Slack%20Logo%20(2).svg" alt="" class="mx-auto inline-block max-w-[80%] max-[767px]:max-w-full" />
        </div>
      </div>
    </div>
  </section>