---
---
<div class="px-4 pt-6">
	<div class="grid gap-4 xl:grid-cols-1 2xl:grid-cols-1 mb-10">
		<!-- Main widget -->
		<div
			class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800"
		>
			<div class="flex items-center justify-between mb-4">
				<div class="flex-shrink-0">
					<span
						class="text-xl font-bold leading-none text-gray-900 sm:text-2xl dark:text-white"
						>326 P.ti</span
					>
					<h3 class="text-base font-light text-gray-500 dark:text-gray-400">
						Complessivi in campionato
					</h3>
				</div>
				<div
					class="flex items-center justify-end flex-1 text-base font-medium text-green-500 dark:text-green-400"
				>
					Media 7,50%
					<svg
						class="w-5 h-5"
						fill="currentColor"
						viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							fill-rule="evenodd"
							d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z"
							clip-rule="evenodd"></path>
					</svg>
				</div>
			</div>

			<!-- NOTE: Charts could be extracted to a generic UI component -->
			<div id="main-chart"></div>

			<!-- Card Footer -->
			<div
				class="flex items-center justify-between pt-3 mt-4 border-t border-gray-200 sm:pt-6 dark:border-gray-700"
			>
				
				<div class="flex-shrink-0">
					<a
						href="#"
						class="inline-flex items-center p-2 text-xs font-medium uppercase rounded-lg text-primary-700 sm:text-sm hover:bg-gray-100 dark:text-primary-500 dark:hover:bg-gray-700"
					>
						Statistiche Play Basket
						<svg
							class="w-4 h-4 ml-1"
							fill="none"
							stroke="currentColor"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
							><path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M9 5l7 7-7 7"></path></svg
						>
					</a>
				</div>
			</div>
		</div>


        <script>
            import '../data/chartstats.js';
        </script>
        
        <style is:global>
            /* chart styles */
            .apexcharts-tooltip {
                @apply bg-white dark:bg-gray-700 text-gray-500 dark:text-gray-400 border-0 rounded-lg shadow-lg !important;
            }
        
            .apexcharts-tooltip .apexcharts-tooltip-title {
                @apply py-2 px-4 bg-gray-100 dark:bg-gray-600 border-b border-gray-200 dark:border-gray-500 !important;
            }
        
            .apexcharts-xaxistooltip {
                @apply text-gray-500 border-0 bg-white dark:bg-gray-700 dark:text-gray-300 rounded-lg shadow-lg !important;
            }
        
            .apexcharts-tooltip .apexcharts-tooltip-text-y-value {
                @apply dark:text-white;
            }
        
            .apexcharts-xaxistooltip-text {
                @apply font-medium text-sm !important;
            }
        
            .apexcharts-xaxistooltip:before,
            .apexcharts-xaxistooltip:after {
                @apply border-0 !important;
            }
        </style>