---
import Logo from "../components/LogoHome.astro"
const title = "I nostri Partners"
---

<section class="bg-stone-100 dark:bg-slate-800">
    
        <h2 class="mb-8 lg:mb-16 text-3xl font-extrabold tracking-tight leading-tight text-center text-gray-900 dark:text-white md:text-4xl">{title}</h2>
       <Logo/>
    
</section>