---

---


<!--<section class="h-screen  items-center justify-center text-white py-0 px-3 bg-center bg-no-repeat bg-cover bg-[url('/img/home.jpg')] bg-gray-300 bg-blend-multiply mb-20">-->
<section class="max-h-screen max-w-screen flex flex-col bg-[url('/img/home2.jpg')] bg-cover items-center justify-center text-white py-0 px-3 mb-20 shadow-2xl rounded-lg">
   
    <!--<div class="video-docker absolute top-0 left-0 w-full h-full overflow-hidden">-->
      <!--<video class=" lg:mt-0 lg:col-span-5 lg:flex min-w-full min-h-full absolute object-cover" src="https://assets.mixkit.co/videos/preview/mixkit-basketball-player-on-a-dark-court-in-3d-33987-large.mp4"  autoplay muted loop></video>-->
    </div>
    



<div class="space-y-3">
   
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-5xl dark:text-white">Garden Toscana Resort <br>Basket San Vincenzo</h1>
            <p class="max-w-2xl mb-6 font-bold text-gray-300 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-300">Da oltre 30 anni pura passione per il basket nella Costa degli Etruschi</p>
            <div class="grid grid-cols-5 gap-6 items-center">
            <img class="w-24 mb-6 ml-3" src="/img/FIP_logo_REG_TOSCANA_neg.png" alt="">
            <img class="w-24 mb-6 ml-3" src="/img/logo-bianco.png" alt="">
            <img class="w-24 mb-6 ml-3" src="/img/Garden.svg" alt="">
            </div>
            <a href="#" class="inline-flex sm:mb-10 items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                Risultati Live
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
            
        </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex w-72 h-72">
            <img src="/img/logo svb.png" alt="logo svb">
        </div>                
    </div>
</div>

</section>

<style>
    .video-docker video {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-docker::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.video-content {
  z-index: 2;
}
</style>