
<div class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 md:grid-cols-3 lg:grid-cols-6 dark:text-gray-400 mb-10 m-5">
            
    <a href="#" class="flex justify-center items-center">
        <img class="hidden dark:block" src="/img/sponsor/Garden_white.svg" alt="">   
        <img class="inline-block dark:hidden" src="/img/sponsor/Garden_green.svg" alt="">                                          
    </a>
    <a href="#" class="flex justify-center items-center">
        <img class="hidden dark:block" src="/img/logo-bianco.png" alt="">   
        <img class="inline-block dark:hidden" src="/img/sponsor/logo-verde.png" alt="">                                          
    </a>
    <a href="#" class="flex justify-center items-center">
        <img class="hidden dark:block" src="/img/sponsor/brandoni_white.svg" alt="">   
        <img class="inline-block dark:hidden" src="/img/sponsor/brandoni_color.svg" alt="">                                          
    </a>
    <a href="#" class="flex justify-center items-center">
        <img class="hidden dark:block" src="/img/sponsor/Salsicamb white.svg" alt="">   
        <img class="inline-block dark:hidden" src="/img/sponsor/Salsicamb dark.svg" alt="">                                          
    </a>
    <a href="#" class="flex justify-center items-center">
        <img class="hidden dark:block w-20" src="/img/sponsor/solvay_white.svg" alt="">   
        <img class="inline-block dark:hidden w-20" src="/img/sponsor/solvay_color.svg" alt="">                                          
    </a>
    <a href="#" class="flex justify-center items-center">
        <img class="hidden dark:block w-20" src="/img/sponsor/logo_asa_white.svg" alt="">   
        <img class="inline-block dark:hidden w-20" src="/img/sponsor/logo_asa_colore.svg" alt="">                                          
    </a>
    <a href="#" class="flex justify-center items-center">
        <img class="hidden dark:block" src="/img/sponsor/magic.svg" alt="">   
        <img class="inline-block dark:hidden" src="/img/sponsor/magic_red.svg" alt="">                                          
    </a>
    <a href="#" class="flex justify-center items-center">
        <img class="hidden dark:block" src="/img/sponsor/mixos_white.svg" alt="">   
        <img class="inline-block dark:hidden" src="/img/sponsor/mixos_color.svg" alt="">                                          
    </a>
    <a href="#" class="flex justify-center items-center">
        <img class="hidden dark:block" src="/img/sponsor/magiaslab_white.svg" alt="">   
        <img class="inline-block dark:hidden" src="/img/sponsor/magiaslab_dark.svg" alt="">                                          
    </a>
    <a href="#" class="flex justify-center items-center">
        <img class="hidden dark:block" src="/img/sponsor/rolando_white.svg" alt="">   
        <img class="inline-block dark:hidden" src="/img/sponsor/rolando_green.svg" alt="">                                          
    </a>
   
    <a href="#" class="flex justify-center items-center">
        <img class="hidden dark:block w-20" src="/img/sponsor/Algida_white.svg" alt="">   
        <img class="inline-block dark:hidden w-20" src="/img/sponsor/Algida_red.svg" alt="">                                          
    </a>
   
   
   
</div>
<a href="/sponsor">
<button type="button" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
    Vedi tutti i partner e gli sponsor
    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
    </svg>
    </button></a>