
        <div class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 md:grid-cols-3 lg:grid-cols-6 dark:text-gray-400 mb-10 m-5">
            <a href="#" class="flex justify-center items-center">
               <img class="w-20"src="/img/logo svb.png" alt="">              
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="/img/logo-bianco.png" alt="">                                            
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="/img/Garden.svg" alt="">                                                              
            </a>

            <a href="#" class="flex justify-center items-center">
               
                <img src="/img/salsicamb.png" alt="">                                                                                  
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="/img/Raggruppa-24-120x100.png" alt="">                                                                               
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="/img/FIP_logo_REG_TOSCANA_neg.png"alt="">                                                                 
            </a>
        </div>
