---
import data from "../data/site.json";
import Heading from "../components/Heading.astro";
import Loghi from "../components/Logofooter.astro"

const heading = "A.S.D. Basket San Vincenzo"
---

<div class="text-center py-12 bg-gray-800 dark:bg-slate-700 rounded-t-lg">
  
  <Loghi />
  
  <Heading heading={heading} />

 

  <ul
    class="flex flex-wrap items-center justify-center text-gray-100 dark:text-white"
  >
    {
      data.social.map((item) => {
        return (
          <li>
            <a
              href={item.href}
              target="_blank"
              rel="noopener noreferrer"
              class="mr-4 hover:underline md:mr-6 "
            >
              {item.title}
            </a>
          </li>
        );
      })
    }
  </ul>
</div>
